<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
     <link rel="stylesheet" href="{{url_for('static',filename='css/nunito-font.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

</head>
<body class="form-v6">
    <div class="page-content">
		<div class="form-v6-content">
               <div class="form-left">
				<img src="{{url_for('static',filename='images/plane.jpg')}}" alt="login-form"
                 width="457" height="475">
			</div>
            <form class="form-detail" action="/login" method="post">
				<h2><strong>Login Form</strong></h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category,message in messages %}
                        <div class="alert alert-{{category}}">{{message}}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
				<div class="form-row">
					<input type="email" name="email" id="email" class="input-text"
                           placeholder="Enter Mail" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<input type="password" name="password" id="password" class="input-text"
                           data-toggle="tooltip" data-placement="top"
                           title="Password should be a combination of Lowercase & Uppercase letters, Digits and Special characters. It should be 8 or more than 8 characters and less than 16 characters."
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$" placeholder="Password" required>
				</div>
                <br>
                    <div class="form-row">
                        <p>
                         <input type="submit" value="LOGIN" style="width:325px;" class = "btn-success btn btn-primary">
                        </p> <p>
                        <a href="{{url_for('register')}}" style="width:325px;" class="btn btn-primary">REGISTER</a>
                        </p>

                    </div>
                </form>
		</div>
	</div>
</body>
</html>
<script>
    $(document).ready(function(){
        $(".alert").hide(3000)
    });
</script>
